<!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->
    <a href="#top" class="back-to-top" id="backto-top"><i class="fal fa-arrow-up"></i>
    
    
    </a>
    <a href="https://wa.me/{{getPhone}}" target="_blank">
        <img src="/assets/images/whatsapp.png" id="whatsapp">
   </a>
    <!-- Start Header -->
    <header class="header axil-header header-style-5">
        <div class="axil-header-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-sm-6 col-12">
                        <div class="header-top-dropdown">
                            
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-12">
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Mainmenu Area  -->
        <div id="axil-sticky-placeholder"></div>
        <div class="axil-mainmenu">
            <div class="container">
                <div class="header-navbar">
                    <div class="header-brand">
                        <a href="/index" class="logo logo-dark">
                            <img src="{{getLogo}}" alt="Site Logo">
                        </a>
                        <a href="/index" class="logo logo-light">
                            <img src="{{getLogo}}" alt="Site Logo">
                        </a>
                    </div>
                    <div class="header-main-nav">
                        <!-- Start Mainmanu Nav -->
                        <nav class="mainmenu-nav">
                            <button class="mobile-close-btn mobile-nav-toggler"><i class="fas fa-times"></i></button>
                            <div class="mobile-nav-brand">
                                <a href="index" class="logo">
                                    <img src="{{getLogo}}" alt="Site Logo">
                                </a>
                            </div>
                            <ul class="mainmenu">
                                <li><a href="/index">Ana səhifə</a></li>

                                 <li class="menu-item-has-children">
                                    <a href="#">Avtomobillər</a>
                                    <ul class="axil-submenu">
                                        {{#each  getCategories}}
                                        <li><a href="/products?type={{slug}}">{{name}}</a></li>
                                        {{/each}}
                                    </ul>
                                </li>
                                <li><a href="/contact">Əlaqə</a></li>
                            </ul>
                        </nav>
                        <!-- End Mainmanu Nav -->
                    </div>
                    <div class="header-action">
                        <ul class="action-list">
                            <li class="axil-mobile-toggle">
                                <button class="menu-btn mobile-nav-toggler">
                                    <i class="flaticon-menu-2"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Mainmenu Area -->

    </header>
    <!-- End Header -->